{{ define "main" }}
<div class="max-w-4xl mx-auto px-4 py-12">
    <h1 class="text-5xl font-bold mb-6 text-text-primary-light dark:text-text-primary-dark">{{ .Title }}</h1>

    <div class="flex flex-col gap-8">
        <div class="flex-grow">
            <div class="p-0 m-0 mb-20">
                <div class="prose prose-invert prose-xl max-w-none">
                    <div>
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ if .Params.section2 }}
    <div class="flex flex-col gap-8">
        <div class="flex-grow">
            <h2 class="text-3xl font-bold mb-10 text-text-primary-light dark:text-text-primary-dark">{{ .Params.section2.title }}</h2>
            {{ if .Params.section2.image }}
            <div class="mb-20">
                <img src="{{ .Params.section2.image }}" alt="{{ .Params.section2.title }}" class="w-2/3 mx-auto rounded-lg">
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}

    {{ if .Params.section3 }}
    <div class="flex flex-col gap-8">
        <div class="flex-grow">
            <h2 class="text-3xl font-bold mb-10 text-text-primary-light dark:text-text-primary-dark">{{ .Params.section3.title }}</h2>
            {{ if .Params.section3.image }}
            <div class="mb-8">
                <img src="{{ .Params.section3.image }}" alt="{{ .Params.section3.title }}" class="w-2/3 mx-auto rounded-lg">
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>

<style>
    .prose {
        color: #4b5563; /* text-secondary-light */
        font-size: 1.125rem;
    }
    html.dark .prose {
        color: #9ca3af; /* text-secondary-dark */
    }
    .prose p {
        color: #4b5563; /* text-secondary-light */
        margin-bottom: 1.5rem; /* Corresponds to mb-6 */
        margin-top: 3rem;
        line-height: 1.9;
    }
    html.dark .prose p {
        color: #9ca3af; /* text-secondary-dark */
    }
    .prose p + p {
        margin-top: 2rem;
    }
</style>
{{ end }}
